.form-control{border-color: #f0ad4e; outline: 0;
    background-color: #FFF; border-width: 1px;
    border-style: solid;
    color: #333; margin-top: 6px;
    padding: 5px 15px;
    line-height: 1;
    background-image: none;width: 90%;}
label{width: 100%; text-align: left !important;}

form p, form div{margin-bottom: 10px;}

fieldset{padding: 10px 20px; border-radius: 6px; border:1px solid rgba(222,222,222,0.51)}
legend{padding-right: 10px; padding-left: 10px;}
button{padding: 10px 20px; border:1px solid #f0ad4e; background: #f0ad4e; color:white; border-radius: 6px; cursor: pointer}
button:hover{background: #EC971F}

#galeria img{max-width: 96%; margin-bottom: 20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;}