{% extends 'base.twig' %}
{% block contenido%}
   <div class="content first-section">
    <h1>Actividades</h1> 
    <p style="text-align:center">Cerca de nuestras instalaciones siempre encontraran nuevas actividades para hacer y nuevos sitios que visitar,
     entre ellos les mostramos algunos que puedan ser de su agrado.</p>

  </div>
     <div class="_section-room">
    <img src="{STATICFILE_DIR}/img/f1.png" class="main-image" width="1450">

    <div class="content">
      <div class="room-desc">
        <h2 style="text-align:center"> Jeep Safari</h2>
        <p class="textos">Nuestra primera parada y punto de encuentro es en el Castillo de Santa Rosa de la Asunción. Atravesando el casco histórico de la Capital  llegaremos a este singular fortín para encontrarnos con parte de nuestra historia. Partiremos hacia El Valle del Espíritu Santo. En el Valle conoceremos la hermosa Iglesia de La Virgen del Valle “Nuestra Patrona”. Luego daremos un paseo en bote en el Parque Nacional  Laguna de La Restinga con sus misteriosos “manglares”. En la tarde descubriremos La Península de Macanao (el desierto de Margarita), donde disfrutaremos de un delicioso almuerzo y nos bañaremos en sus cálidas aguas sintiendo el sabor del Caribe. Para continuar el mayor desafío “La Aventura 4x4”, nuestra adrenalina subirá al Máximo y el equipo de conductores profesionales les harán pasar un momento “inolvidable”. Realizaremos una breve parada en el Crucero de Macanao,  donde podrán comprar chucherías o disfrutar de una deliciosa cocada (con o sin ron) al igual que utilizar los servicios sanitarios. Antes de retornar a los hoteles visitaremos el Fortín de La Galera en Juan Griego.</p><br>
<h2 style="text-align: center"> Incluye:</h2>
        <p class="textos">Excursión en vehículos 4X4,
Asistencia de Guías, Conductores,
Visita al Castillo de Santa Rosa,
Visita a La Iglesia de la “Virgen del Valle”,
Bar abierto con bebidas Nacionales, Refrescos y Agua Mineral,
Paseo en bote por el Parque Nacional Laguna de la Restinga,
Almuerzo,
Baño en playa de  Punta Arenas,
Aventura en 4x4 "Parajes Vírgenes" por la Península,
Crucero de Macanao,
Fortín de La Galera (Juan Griego).
</p>

        <ul class="thumbs">
          <li>
            <a href="{STATICFILE_DIR}/img/f2.png" rel="lightbox[room_standard]">
             <img src="{STATICFILE_DIR}/img/g2.png" alt="villa tomasa" width="160" height="160">
            </a>          </li>
          <li>
            <a href="{STATICFILE_DIR}/img/f3.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/g3.png" alt="villa tomasa" width="160" height="160">
            </a>          </li>
        </ul>
      </div>    
    </div>
  </div>

    <div class="_section-room">
    <img src="{STATICFILE_DIR}/img/k1.png" class="main-image" alt="villa tomasa" width="1450">

    <div class="content">
      <div class="room-desc">
        <h2 style="text-align:center">Waterland Mundo Marino</h2>
        <p class="textos">En este programa podrán interactuar con  los  delfines mientras aprenden de una manera divertida acerca de estos bellos ejemplares. Además podrán bailar, cantar y recibir un mojado besito de nuestros delfines. Este programa se realiza en la piscina central que tiene medidas 5 mts. De profundidad, 27 mts de diámetro. Grupo máximo de 12 visitantes por delfín. La actividad tiene una duración de 20 min. a 25 min. Aproximadamente.</p><br>
        <p class="textos">Horarios de Lunes a Domingo: 10:00am  /  11:30 am / 02:30 pm / 04:00 pm</p><br>
        <h2 style="text-align:center">Encuentro con delfines:</h2>
        <p class="textos">Es ideal para personas mayores, niños pequeños mayores de 6 meses, personas con dificultad para nadar o con temor al agua, al igual que personas con un mínimo grado de discapacidad.
Este programa se realiza en la piscina perimetral, donde las personas todo el tiempo están de pie, es un programa muy entretenido en el cual las personas podrán acariciar al delfín, aprender acerca de su anatomía, sentidos, podrá hacerlos cantar y recibir un mojado beso; y una duración de 12 minutos.</p><br>
<p class="textos">Horarios de Lunes a   Domingo:   10:00 am  /  11:30 am / 02:30 pm / 04:00 pm</p>


        <ul class="thumbs">
          <li>
            <a href="{STATICFILE_DIR}/img/k2.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/l2.png" width="160" height="160">
            </a>          </li>
          <li>
            <a href="{STATICFILE_DIR}/img/k3.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/l3.png" width="160" height="160">
            </a>          </li>
         <li>
            <a href="{STATICFILE_DIR}/img/k4.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/l4.png" width="160" height="160">
            </a>          </li>
          </ul>
       </div>
      </div>
    </div>



    <div class="_section-room">
    <img src="{STATICFILE_DIR}/img/s1.png" class="main-image" alt="" width="1450">

    <div class="content">
      <div class="room-desc">
        <h2 style="text-align:center">Full Day a Cubagua </h2>
        <p class="textos">Cubagua ofrece a sus visitantes diversos paisajes que contrastan entre sí, al llegar a la Isla desde Margarita.
Allí  encontrará las bondades de una playa de arenas brillantes y aguas traslúcidas y serenas.
En una aventura de un día podrá conocer paisajes asombrosos, tener un cálido día de playa y luego realizar la visita guiada para conocer la historia de la Isla narrada por los estupendos guías.
Luego de tomar el almuerzo realizará una breve visita a los famosos pozos de barro natural, tomando un relajante baño de lodo, y así al final de la tarde emprender el viaje de regreso a la Isla de Margarita.
</p><br>
<h2 style="text-align:center">Incluye:</h2>
<p class="textos">Traslado Hotel /Marina Hotel, Toldos y sillas, Snack de bienvenida, Bar abierto de bebidas nacionales
Almuerzo preparado en Cubagua (Parrilla mixta, pollo y carne, papa horneada y 2 ensaladas)
Snorkeling, Barroterapia, Caminata al mirador, Servicio de ambulancia y primeros auxilios.

</p>
        <ul class="thumbs">
          <li>
            <a href="{STATICFILE_DIR}/img/s2.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d2.png" alt="" width="160" height="160">
            </a>          </li>
            <a href="{STATICFILE_DIR}/img/s3.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d3.png" alt="" width="160" height="160">
            </a>          </li>
            <a href="{STATICFILE_DIR}/img/s4.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d7.png" alt="" width="160" height="160">
            </a>          </li>
            <a href="{STATICFILE_DIR}/img/s5.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d8.png" alt="" width="160" height="160">
            </a>          </li>
             <a href="{STATICFILE_DIR}/img/s6.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d9.png" alt="" width="160" height="160">
            </a>          </li>
            <a href="{STATICFILE_DIR}/img/s7.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d10.png" alt="" width="160" height="160">
            </a>          </li>
        </ul>

      </div>
     </div>
    </div>

  <div class="_section-room">
    <img src="{STATICFILE_DIR}/img/kayak.jpg" class="main-image" alt="" width="1450">

    <div class="content">
      <div class="room-desc">
        <h2 style="text-align:center">Kayak la Restinga</h2>
        <p class="textos">La aventura es bien fácil y bonita, pues vamos observando toda la vida silvestre que tenemos en el Parque Nacional. El paseo está dedicado a todos aquellos amantes de la naturaleza. El kayak es el medio de transporte  necesario para poder llegar a  las reservas naturales ubicadas en lo más remoto de la Laguna y de una belleza sin igual.</p><br>
        <p class="textos">El paseo comienza a las 9:15 am en el punto previo de encuentro y finaliza a la 1:30 pm en nuestro campamento con la posibilidad de disfrutar el resto de la tarde en la playa.
        El remo tiene una duración aproximada de 2 a 2 1/2 horas, en una navegación lenta y placentera para apreciar la vida silvestre de nuestras reservas y mucha información de estos ecosistemas. Incluye baño opcional en medio de la laguna.</p><br>
        <h2 style="text-align:center">Incluye:</h2>  
        <p class="textos">Guías en inglés  y/o español con amplia información ecológica sobre la vida silvestre del Parque Nacional, equipos (kayak, remos, sillín, salvavidas)  Bebidas (agua, nestea y refrescos) antes y durante el paseo. Al finalizar obsequiamos bandejas con ostras frescas y diferentes frutas tropicales (patilla, piña, cambur etc.), cerveza fría para los adultos y refresco o malta para los niños.</p>
        <ul class="thumbs">
          <li>
            <a href="{STATICFILE_DIR}/img/c1.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d1.png" width="160" height="160">
            </a>          </li>
          <li>
            <a href="{STATICFILE_DIR}/img/c4.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d4.png" width="160" height="160">
            </a>          </li>
             <li>
            <a href="{STATICFILE_DIR}/img/c50.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d50.png" width="160" height="160">
            </a>          </li>
             <li>
            <a href="{STATICFILE_DIR}/img/c51.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d51.png" width="160" height="160">
            </a>          </li>
            <li>
            <a href="{STATICFILE_DIR}/img/c52.png" rel="lightbox[room_standard]">              <img src="{STATICFILE_DIR}/img/d52.png" width="160" height="160">
            </a>          </li>
           </ul>
       </div>
      </div>
    </div>
  {% endblock contenido%}

  {% block js %}
 <script type="text/javascript">
    //SmoothScroll
    new Fx.SmoothScroll({ duration:1700 }, window);
    //SalsaScrollFixed
    new SalsaScrollFixed({
      element: "header",
      onFixedPosition: function (el) {
        el.addClass("fixed")
      },
      onAutoPosition: function (el) {
        el.removeClass("fixed")
      }
    });
  window.addEvent('domready', function() {
            //store titles and text
            $$('.tipz').each(function(element,index) {
              var content = element.get('title').split('::');
              element.store('tip:title', content[0]);
              element.store('tip:text', content[1]);
            });
    
            //create the tooltips
            var tipz = new Tips('.tipz',{
              className: 'tipz',
              fixed: true,
              hideDelay: 50,
              showDelay: 50
            });
    
          });
        </script>

{% endblock js %}