<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
    	.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
    	.gm-style-pbc{transition:opacity ease-in-out;background-color:black;text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    
    	.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
    	@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
    	@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
		.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}.gm-style img{max-width:none}
	</style>
	<link href="{STATICFILE_DIR}/css/css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{STATICFILE_DIR}/css/style.css" media="all">
    <link href="{STATICFILE_DIR}/css/form.css" rel="stylesheet" type="text/css">
    <title>Villa Tomasa</title>
    <meta name="description" content=" ">
    <meta name="keywords" content="Posada,Boutique">
    <meta name="Author" content="Pinttosoft">
    <meta property="og:title" content="Villa Tomasa">
    <meta property="og:image" content="img/facebook-img.jpg">

    <script style="" async="" type="text/javascript" src="{STATICFILE_DIR}/js/webfont.js"></script>
    <script src="{STATICFILE_DIR}/js/ga.js" async="" type="text/javascript"></script>

    <link rel="shortcut icon" href="#">
    <script type="text/javascript">
        WebFontConfig = {"google":{"families":["Forum","Yanone Kaffeesatz","Open Sans:600"]}};

        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="/static/inc/js/css3-mediaqueries.js"></script>
    <script src="/static/inc/js/selectivizr-min.js"></script>
    <![endif]-->
    <link rel="alternate" type="text/html" hreflang="it" href="#">
    <link media="all" href="{STATICFILE_DIR}/css/css_002.css" rel="stylesheet">
    <script src="{STATICFILE_DIR}/js/tomasa.js" type="text/javascript"></script>
    <script src="{STATICFILE_DIR}/js/common.js" charset="UTF-8" type="text/javascript"></script>
    <script src="{STATICFILE_DIR}/js/map.js" charset="UTF-8" type="text/javascript"></script>
    <script src="{STATICFILE_DIR}/js/util.js" charset="UTF-8" type="text/javascript"></script>
    <script src="{STATICFILE_DIR}/js/marker.js" charset="UTF-8" type="text/javascript"></script>
    <script src="{STATICFILE_DIR}/js/stats.js" charset="UTF-8" type="text/javascript"></script>
    <script src="{STATICFILE_DIR}/js/onion.js" charset="UTF-8" type="text/javascript"></script>
    <script src="{STATICFILE_DIR}/js/controls.js" charset="UTF-8" type="text/javascript"></script>
</head>
<body>
<div class="" style="position: static; top: auto;" id="header">
    <div class="header-top" id="header-top">
        <div class="content">
            <div class="block-logo">
                <a href="index.html">
                    <img src="static/img/logo.png" alt="Villa Tomasa">
                </a>
            </div>

            <div class="header-bottom header-bottom-without-title" id="nav-fixed">
                <div class="content">
                    {% include "menu.twig" %}

                    <!--<ul class="lang">
                      <li class="en"><a href="#" class="current">español</a></li>
                    </ul>-->
                </div>
            </div>

        </div>


    </div>

</div>

<div id="nav-mobile">
    <a href="index.html" class="logo">
        <img src="static/img/logo.png" alt="villa toma">
    </a>

    <div class="nav-toggler">
        <a href="#" id="nav-toggle">Toggle navigation</a>
    </div>

    <div style="margin: 0px; position: static; overflow: hidden; height: 0px;"><div style="margin: 0px; overflow: hidden;" id="nav-slide">
            <ul class="navigation">
                <li><a href="/" class="current">Inicio</a></li>
                <li><a href="/habitaciones">habitaciones</a></li>
                <li><a href="/galeria">Galería</a></li>
                <li><a href="/actividades">Actividades</a></li>
                <li class="last"><a href="ubicacion">ubicacion</a></li>
                <li class="lang">
                    <ul>
                        <li class="en"><a href="#" class="current">español</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        salsa_slide('nav-slide', 'nav-toggle');
    </script>
</div>



{% block contenido %}

{% endblock contenido %}

<div class="footer">
    <div class="content">
        <div class="left">
            <ul class="quick-infos">
                <li class="title">6 Hermosas habitaciones</li>
                <li>Mateo</li>
                <li>Isidro</li>
                <li>Benito</li>
                <li>Doña Tomasa</li>
                <li>Ramona</li>
                <li>Manuela</li>
            </ul>
        </div>

        <div class="center">
            <address itemscope="" itemtype="#">
                <meta itemprop="url" content="#">

                <span class="item-telephone">Tel. <span itemprop="tel">0295.416.70.63 / 0295 242.56.26 / 0416.605.42.70</span></span>
                <span class="item-email"><a href="posadavillatomasa@gmail.com" itemprop="email">Email: reservasvillatomasa@gmail.com</a></span>

                <span itemprop="address" itemscope="" itemtype="#" class="item-address">
            <span itemprop="name">Posada Villa Tomasa</span><br>
            <span itemprop="street-address">Sabana de Guacuco</span><br>
            <span itemprop="locality">Isla de Margarita</span>
            <span itemprop="country-name">Venezuela</span>
          </span>
            </address>

            <script type="text/javascript">
                window.addEvent('domready', function() {
                    //store titles and text
                    $$('.tipz').each(function(element,index) {
                        var content = element.get('title').split('::');
                        element.store('tip:title', content[0]);
                        element.store('tip:text', content[1]);
                    });

                    //create the tooltips
                    var tipz = new Tips('.tipz',{
                        className: 'tipz',
                        fixed: true,
                        hideDelay: 50,
                        showDelay: 50
                    });

                });
            </script>

            <div class="sitemap-and-privacy">
                <div style="margin: 0px; position: static; overflow: hidden; height: 0px;"><p style="margin: -133px 0px 0px; overflow: hidden;" class="company-info" id="slide-company-info">
                        Posada Boutique Villa Tomasa<br>
                        En Sabana de Guacuco  - Isla de Margarita Venezuela<br><br>
                        Isla de Margarita<br>
                        <a href="#" rel="nofollow" data-ajax="1"> Políticas de Privacidad</a>
                    </p></div>
                <script type="text/javascript">
                    salsa_slide('slide-company-info', 'view-company-info');
                </script>
            </div>
        </div>

        <div class="right">
            <ul class="socials">
                <li><a href="https://www.facebook.com/PosadaVillaTomasa" target="_blank"><img src="static/img/ico-footer-socials-facebook.png" alt="Posada boutique villa tomasa en Facebook"></a></li>
                <li><a href="https://www.instagram.com/posadaboutiquevillatomasa/?hl=es" target="_blank"><img src="static/img/ico-footer-socials-instagram.png" alt="Posada boutique villa tomasa en Instagram"></a></li>
                <li><a href="#" target="_blank"><img src="static/img/ico-footer-socials-twitter.png" alt="Posada boutique villa tomasa en Twitter"></a></li>
            </ul>

            <a href="http://www.pinttosoft.com" target="_blank" class="author"><img src="static/img/pinttosoft.png" alt="Pinttosoft, C.A."></a>
        </div>
    </div>

    <a href="#" class="back-to-the-top"><img src="static/img/ico-back-to-the-top.png" alt="back to the top"></a>
</div>
{% block js %}

{% endblock js %}

</body>
</html>