
  {% extends 'base.twig' %}
  {% block contenido %}

  
    <div class="content first-section">
    <h1>Galeria</h1>
    <p>Esta galería le dará una idea de lo que puede esperar encontrar en su llegada a la Posada Boutique Villa Tomasa. Decimos "una idea", porque ninguna foto puede capturar la magia de las mañanas y noches en este maravilloso lugar de nuestra perla de caribe.</p>

  </div>

  <div class="content section _section-gallery">
    
    <ul class="thumbs">
                        <li>
            <a href="{STATICFILE_DIR}/img/b4.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c45.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="quote ">
            <blockquote><strong>“Somos el resultado de los libros que leemos, los cafés que disfrutamos, los viajes que hacemos y las personas que amamos”</strong></blockquote>
            <cite>Airton Ortiz</cite>
          </li>
                                <li>
            
            <a href="{STATICFILE_DIR}/img/b25.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c25.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="last">
            <a href="{STATICFILE_DIR}/img/b8.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c8.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b22.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c22.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b20.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c20.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b27.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c27.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="quote last">
            <blockquote><strong>Viajar, dormir, enamorarse, son tres invitaciones a lo mismo. Tres modos de irse a lugares que no siempre entendemos”</strong></blockquote>
            <cite>Ángeles Mastretta</cite>
          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b18.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c18.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b6.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c6.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b19.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c19.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="last">
            <a href="{STATICFILE_DIR}/img/b9.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c9.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="quote ">
            <blockquote><strong>“Una vez que el virus del viajero te pica, no hay antídoto posible, y sé que estaré felizmente contagiado para el resto de mi vida”</strong></blockquote>
            <cite>Michael Palin</cite>
          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b28.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c28.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b15.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c15.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="last">
            <a href="{STATICFILE_DIR}/img/b17.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c17.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b24.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c24.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b11.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c11.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="quote ">
            <blockquote><strong>"Viajar no es tan solo moverse en el espacio. Es acomodar el espiritu , predisponer el alma y aprender de nuevo..." </strong></blockquote>
            <cite>Ortega y Gasset</cite>
          </li>
                                <li class="last">
            <a href="{STATICFILE_DIR}/img/b1.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c33.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b2.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/b222.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b3.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c3.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b5.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c5.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="last">
            <a href="{STATICFILE_DIR}/img/b7.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c7.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b13.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c13.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="quote ">
            <blockquote><strong>“Conoces más un camino por haber viajado por el que por todas las conjeturas y descripciones en el mundo”</strong></blockquote>
            <cite>William Hazlitt</cite>
          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b14.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c14.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li class="last">
            <a href="{STATICFILE_DIR}/img/b29.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c29.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b10.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c10.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
                                <li>
            <a href="{STATICFILE_DIR}/img/b12.png" rel="lightbox[gallery]">              <img src="{STATICFILE_DIR}/img/c12.png" alt="Villa Tomasa" width="253" height="253">
            </a>          </li>
        </ul>          
  </div>

{% endblock contenido %}

{% block js %}
  <script type="text/javascript">
      salsa_slide('nav-slide', 'nav-toggle');
    </script>
<script type="text/javascript">
    //SmoothScroll
    new Fx.SmoothScroll({ duration:1700 }, window);
  </script>

  <script type="text/javascript">
    //SalsaScrollFixed
    new SalsaScrollFixed({
      element: "header",
      onFixedPosition: function (el) {
        el.addClass("fixed")
      },
      onAutoPosition: function (el) {
        el.removeClass("fixed")
      }
    });
  </script>

{% endblock js %}
 