{% extends 'base.twig' %}

{% block contenido %}
  <div class="content first-section _section-location">
  <h1>Habitaciones</h1>
  <p>Todas las habitaciones cuentan con baño privado, lencería de lujo, aire acondicionado, TV Satelital, caja fuerte, WIFI, nevera ejecutiva, secador de cabello, artículos de tocador, bata de baño con pantuflas, cafetera, mesa de planchar y plancha (a solicitud del huésped).</p>
  <p>El desayuno, a la carta, está incluido en el precio de la habitación.</p>
 </div>
<img src="{STATICFILE_DIR}/img/donatomasa.png" class="main-image section" alt="villa tomasa" width="1450">
  
<div class="content section _section-useful_infos">
  <div class="col-useful_infos">
    <p class="p-break"><strong>Suite Delux Doña Tomasa</strong>: </p>

    <p>Equipada con cama Queen, cuenta con vestier, y una amplia terraza donde podrá descansar en una cómoda hamaca y disfrutar de la relajante vista al mar. Ocupación dos huéspedes. </p><br></br>
       
    <p class="p-break"><strong>Manuela</strong>: </p>

    <p>Cuenta con dos camas matrimoniales. Ocupación hasta cuatro huéspedes. </p></p><br>

    <p class="p-break"><strong>Ramona</strong>: </p>

    <p>Equipada con una cama matrimonial. Ocupación hasta dos huéspedes.</p>

 </div>



  <div class="col-useful_infos last">
    <dl>
      <dt><p class="p-break"><strong>Benito</strong>: </p>

    <p>Equipada con una cama matrimonial. Ocupación hasta dos huéspedes. </p><br></br></dt>
     
      <dd><p class="p-break"><strong>Isidro</strong>: </p>

    <p>Cuenta con dos camas matrimoniales, baño privado adaptado para personas con movilidad reducida. Ocupación hasta cuatro huéspedes.</p></dd>

      <dt><p class="p-break"><strong>Mateo</strong>: </p>

    <p>Equipada con una cama matrimonial. Ocupación hasta dos huéspedes.</p></dt>
      


  </div>
</div>

 <div class="main-thumbs">
    <div class="inner">
      <a href="{STATICFILE_DIR}/img/Ramona.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/ramona2.png" alt="Villa Tomasa" width="340" height="340">
      </a>
      <a href="{STATICFILE_DIR}/img/Benito.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/benito2.png" alt="Villa Tomasa" width="340" height="340">
      </a>
      <a href="{STATICFILE_DIR}/img/Mateo.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/mateo2.png" alt="Villa Tomasa" width="340" height="340">
      </a>
      <a href="{STATICFILE_DIR}/img/Isidro.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/isidro2.png" alt="Villa Tomasa" width="340" height="340">
      </a>
      <a href="{STATICFILE_DIR}/img/manuela.png" rel="lightbox[thumbnails]">      <img src="{STATICFILE_DIR}/img/manuela2.png" alt="Villa Tomasa" width="340" height="340">
      </a>
      <a href="{STATICFILE_DIR}/img/donatomasa5.png" rel="lightbox[thumbnails]">     <img src="{STATICFILE_DIR}/img/donatomasa51.png" alt="Villa Tomasa" width="340" height="340">
      </a>
      </div>
  </div>
{% endblock contenido %}

{% block js %}
  <script type="text/javascript">
    //SmoothScroll
    new Fx.SmoothScroll({ duration:1700 }, window);
  </script>

  <script type="text/javascript">
    //SalsaScrollFixed
    new SalsaScrollFixed({
      element: "header",
      onFixedPosition: function (el) {
        el.addClass("fixed")
      },
      onAutoPosition: function (el) {
        el.removeClass("fixed")
      }
    });
  </script>
      <b class="salsa-booking-dropdown-close"></b>
    </div>


                <script type="text/javascript">
          window.addEvent('domready', function() {
            //store titles and text
            $$('.tipz').each(function(element,index) {
              var content = element.get('title').split('::');
              element.store('tip:title', content[0]);
              element.store('tip:text', content[1]);
            });
    
            //create the tooltips
            var tipz = new Tips('.tipz',{
              className: 'tipz',
              fixed: true,
              hideDelay: 50,
              showDelay: 50
            });
    
          });
        </script>
{% endblock js %}