{% extends 'base.twig' %}

{% block contenido %}
<img src="{STATICFILE_DIR}/img/i2.png" class="main-image first-section"width="100%">
<div class="content content-centered section">
    <h1>Posada Boutique Villa Tomasa</h1>
    <p class="p-break">Posada Boutique Villa Tomasa
        La Posada Boutique Villa Tomasa está ubicada en la Sabana de Guacuco, Isla de Margarita, Venezuela. Es una exclusiva posada, exquisitamente decorada, con una estupenda vista al mar y a la montaña. Está situada a pocos minutos de las playas más visitadas, así como de los más concurridos centros comerciales, centros recreacionales y sitios históricos.
    </p>
    <p> Le ofrece una estadía marcada por la comodidad, tranquilidad y con una atención personalizada que harán de su permanencia una experiencia inolvidable. </p>
</div>

<div class="wrapper-eco-friendly">
    <img src="{STATICFILE_DIR}/img/i1.png" class="main-image" alt="villa Tomasa" width="100%">
</div>

<div class="content content-centered section _section-three-reasons">
    <h2>¡Razones para quedarse en Villa Tomasa!</h2>
    <ul>
        <li><span><strong>Restaurante</strong><br>Deliciosa comida, elaborada con ingredientes locales y frescos.</span></li>
        <li><span><strong>Habitaciones</strong><br>Lujosas y confortables habitaciones que le invitan al descanso.</span></li>
        <li class="last"><span><strong>Spa</strong> <br>: tratamientos corporales diseñados para consentirlo como Ud. merece. </span></li>
    </ul>
</div>

<div class="main-thumbs">
    <div class="inner">
        <a href="{STATICFILE_DIR}/img/i3.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/i3.png" alt="Villa Tomasa" width="340" height="340">
        </a>
        <a href="{STATICFILE_DIR}/img/i5.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/a5.png" alt="Villa Tomasa" width="340" height="340">
        </a>
        <a href="{STATICFILE_DIR}/img/i8.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/a8.png" alt="Villa Tomasa" width="340" height="340">
        </a>
        <a href="{STATICFILE_DIR}/img/i6.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/a6.png" alt="Villa Tomasa" width="340" height="340">
        </a>
        <a href="{STATICFILE_DIR}/img/i7.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/a7.png" alt="Villa Tomasa" width="340" height="340">
        </a>
        <a href="{STATICFILE_DIR}/img/i10.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/a10.png" alt="Villa Tomasa" width="340" height="340">
        </a>
        <a href="{STATICFILE_DIR}/img/i4.png" rel="lightbox[thumbnails]">        <img src="{STATICFILE_DIR}/img/a4.png" class="last" alt="Villa Tomasa" width="340" height="340">
        </a>    </div>
</div>



<div class="content content-narrow section _section-three-reasons">
    <h3 style="text-alig:"center">¡Villa Tomasa... De lo exclusivo a lo extraordinario!</h3>
    <p class="p-break" style="text-align:center">La Posada cuenta con el Restaurante Villa Tomasa, donde nuestro chef le deleitará con platos extraordinarios diseñados para complacer los gustos más exquisitos, elaborados con productos frescos y locales. Ofrecemos servicios de desayuno a la carta (incluido en el precio de la habitación), almuerzo y cena.</p>
    <p class="p-break" style="text-align:center">La Posada tiene espacios ideales para la celebración de eventos como bodas, despedidas de solteros (as), cenas románticas, compromisos, cumpleaños, bautizos, así como eventos corporativos.</p>
    <p class="p-break" style="text-align:center">Nuestro Spa ofrece diferentes tratamientos corporales diseñados para consentirlo y ayudarle a liberar el estrés de la vida diaria, una Piscina con Jacuzzi para adultos y niños, servicio de toallas y tumbonas, una terraza/mirador y varias áreas dispuestas en las instalaciones para que  pueda disfrutar de diferentes ambientes de relajación.</p>
</div>

<div class="_section-neighborhood content">
    <img src="{STATICFILE_DIR}/img/i11.png" alt="Casa Buonocore" width="461" height="280">

    <div class="text">
        <ul class="list box-infos">
            <li class="title">Lugares de interes</li>
            <li>Fortin de la galera</li>
            <li>Basílica Virgen de la Valle</li>
            <li>Paque el agua</li>
            <li>Castillo de San Carlos de Borromeo</li>
            <li>Laguna de la Restinga</li>
            <li>Catedral de la Asunción</li>
        </ul>

        <div class="bottom">


            <a class="salsa-button salsa-button-base salsa-button-casabuonocore salsa-button-casabuonocore-large salsa-button-casabuonocore-default" href="/ubicacion/">
  <span class="salsa-button-in">
          ubicacion »
      </span>
            </a>

        </div>
    </div>
</div>



<div style="opacity: 0; width: 1663px; height: 914px; display: none;" id="mbOverlay"></div>
<div class="mbType-img" style="top: 1959px; left: 832px; width: 920px; height: 650px; margin-top: -335px; margin-left: -470px; display: none;" id="mbCenter">
    <div style="opacity: 1; background-image: none; width: 900px; height: 600px;" id="mbImage"></div>
    <div style="opacity: 1;" id="mbBottom">
        <a href="#" id="mbCloseLink">
            <big>×</big></a>
        <a style="" href="#" id="mbNextLink">
            <big>»</big></a>
        <a style="" href="#" id="mbPrevLink">
            <big>«</big></a>
        <div id="mbTitle"></div>
        <div style="width: 900px;" id="mbCaption"></div>
        <div id="mbNumber">(2 of 7)</div>
    </div>
</div>


</div>
{% endblock contenido %}

{% block js %}
    
<script type="text/javascript">
    salsa_slide('nav-slide', 'nav-toggle');
</script>
    <script type="text/javascript">
        //SmoothScroll
        new Fx.SmoothScroll({ duration:1700 }, window);
    </script>

    <script type="text/javascript">
        //SalsaScrollFixed
        new SalsaScrollFixed({
            element: "header",
            onFixedPosition: function (el) {
                el.addClass("fixed")
            },
            onAutoPosition: function (el) {
                el.removeClass("fixed")
            }
        });
</script>
{% endblock js %}