<ul class="navigation">
    <li><a href="{DOMAIN_NAME}/" class="current">Inicio</a></li>
    <li><a href="{DOMAIN_NAME}/actividades">Actividades</a></li>
    <!-- <li><a href="/location.php">Locación</a></li> -->
    <li><a href="{DOMAIN_NAME}/habitaciones">habitaciones</a></li>
    <li><a href="{DOMAIN_NAME}/galeria">Galería</a></li>
    <li class="last"><a href="{DOMAIN_NAME}/ubicacion">ubicación</a></li>
    <li class="last"><a href="{DOMAIN_NAME}/reservacion">reservación</a></li>
</ul>