{% extends 'base.twig' %}

{% block contenido %}

<style>
    .left{float: left; width: 38%}
    .right{float: left; width: 58%}
    .clear{clear: both}
</style>
<div class="content first-section _section-location">
    <h1>Reservación de habitación</h1>
<form method="post" id="form_reservacion">
    <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
    <div class="left">
        <labe>Seleccione una habitación</labe>
        <select name = "habitacion" id="hbitacion" class="form-control" onchange="buscarDatosHabitacion(this.value)" required = "required">
            <option value=""></option>
            {% for habitacion in habitaciones %}
                <option value="{{ habitacion.id_habitacion }}">{{ habitacion.nombre_habitacion }}</option>
            {% endfor %}
        </select>

        <p id="descripcion_habitacion"></p><br>
        <div id="galeria">

        </div>

    </div>
    <div class="right">
        <fieldset>
            <legend>Datos del cliente</legend>
            <div style="float: left; width: 26%">
                <label>Cédula / Rif</label>
                <input onKeyPress="return soloNumero(event)" type="text" name="ci" class="form-control" required = "required">
            </div>

            <div style="float: right; width: 66%">
                <label>Nombre completo</label>
                <input type="text" name="nombre" class="form-control" required = "required">
            </div>
            <div class="clear"></div>
            <div style="float: left; width: 46%">
                <label>Número de teléfono móvil</label>
                <input onKeyPress="return soloNumero(event)" type="text" name="telefono_movil" class="form-control" required = "required">
            </div>
            <div style="float: right; width: 46%">
                <label>Número de teléfono fijo</label>
                <input onKeyPress="return soloNumero(event)" type="text" name="telefono_fijo" class="form-control" required = "required">
            </div>
            <div class="clear"></div>
            <div>
                <label>Correo electrónico</label>
                <input type="email" class="form-control" name="correo" required = "required">
            </div>
            <div class="clear"></div>
        </fieldset>
        <br>
        <fieldset>
            <legend>Datos de la reserva</legend>
            <div style="float: left; width: 48%">
                <label>Fecha de entrada</label>
                <input type="text" class="form-control" value="2012-04-05" name="fecha_entrada" required = "required">
            </div>
            <div style="float: right; width: 48%">
                <label>Fecha de salida</label>
                <input type="text" class="form-control" value="2012-04-05" name="fecha_salida" required = "required">
            </div>
            <div class="clear"></div>
            <div style="float: left; width: 200px;">
                <label>Cantidad de adultos</label>
                <select class="form-control" name="cantidad_adulto" required = "required">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div style="float: left; width: 200px;">
                <label>Cantidad de infantes</label>
                <select class="form-control" name = "cantidad_infantes" required = "required">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="clear"></div>
        </fieldset>
        <br>
        <div style="text-align: center">
            <button style="width: 180px;">Reservar</button>
        </div>
    </div>
    <div class="clear"></div>
</form>
</div>
{% endblock contenido %}

{% block js %}
    <script type="text/javascript">
        function soloNumero(e){
            tecla = (document.all) ? e.keyCode : e.which;
            //Tecla de retroceso para borrar, siempre la permite
            if (tecla==8){
                return true;
            }
            // Patron de entrada, en este caso solo acepta numeros
            patron =/[0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }
        salsa_slide('nav-slide', 'nav-toggle');
        new Fx.SmoothScroll({ duration:1700 }, window);
        //SalsaScrollFixed
        new SalsaScrollFixed({
            element: "header",
            onFixedPosition: function (el) {
                el.addClass("fixed")
            },
            onAutoPosition: function (el) {
                el.removeClass("fixed")
            }
        });

        function buscarDatosHabitacion(valor) {
            new Request.JSON(
                {
                    url : "{DOMAIN_NAME}/reservacion/datos-habitacion",
                    method: 'post',
                    onComplete : function(data)
                    {
                        if(data.message != 'bien')
                            return false;

                        document.getElementById('descripcion_habitacion').innerHTML = data.descripcion_habitacion;

                        xHTML = "<h3>Galería Fotográfica</h3><ul class='thumbs'>";
                        array_imagenes = data.imagenes;

                        for(var i = 0; i < array_imagenes.length;i++){
                            imagen = array_imagenes[i].ruta_archivo.replace('.png','_md.png');
                            xHTML = xHTML +"<li>" +
                                "<a href = '{DOMAIN_NAME}/cluster/images/"+array_imagenes[i].ruta_archivo+"' rel='lightbox[gallery]'>" +
                                    "<img src = '{DOMAIN_NAME}/cluster/images/"+imagen+"'> " +
                                "</a>" +
                                "</li>";
                            console.log(xHTML);
                        }

                        document.getElementById('galeria').innerHTML = xHTML + "</ul>";


                    }
                }).send({"data": "habitacion="+valor+""})
        }
    </script>
{% endblock js %}