{% extends 'base.twig' %}

{% block contenido %}
<div class="content first-section">
    <h1>Ubicación</h1>
    <p> ¿COMO ENCONTRARNOS?</p>

</div>



<div class="section _section-info-request-form">
    <div id="mapa" style =width="100%">
        <iframe src ="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.8429278309213!2d-63.827574085557515!3d11.050400657099305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c3191c9cc736f7f%3A0x43e380729f3ac419!2sPosada+Villa+Tomasa!5e0!3m2!1ses!2sve!4v1476670966988" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="content">
        <div class="salsa-form-mail">


            <form name="form" id="form_mail" method="post" action="/en/form-result">
                <input name="mail_from_field_format" value="mail_first_name_required mail_last_name_required &lt;mail_sender_email_required&gt;" type="hidden">
                <input name="mail_receiver_name" value="villa tomasa" type="hidden">
                <input name="mail_receiver_email" value="info@casabuonocore.com" type="hidden">
                <input name="mail_hash" value="c61e2a57215e06edc04318022458280826ede715" type="hidden">
                <input name="mail_email_template" value="info-request" type="hidden">

                <fieldset>

                    <script type="text/javascript">
                        document.id("tip-privacy-ae2b409613f879")
                            .store("tip:title", "Privacy disclaimer")
                            .store("tip:text", "Any\x20personal\x20data\x20requested\x20will\x20be\x20handled\x20according\x20to\x20the\x20Italian\x20privacy\x20law\x20\x28196\x2F2003\x29\x20and\x20is\x20needed\x20so\x20that\x20Casa\x20Buonocore\x20can\x20manage\x20your\x20request.\x3Cbr\x20\x2F\x3EAll\x20personal\x20information\x20will\x20be\x20treated\x20with\x20the\x20utmost\x20confidentiality.");
                    </script>

                    <script type="text/javascript">
                        window.addEvent("domready", function() {
                            new Tips('.salsa-tip', {
                                className: 'stipz',
                                fixed: true,
                                hideDelay: 50,
                                showDelay: 50
                            })
                                .addEvents({
                                    'show': function(tip) {
                                        tip.fade('in');
                                    },
                                    'hide': function(tip) {
                                        tip.fade('out');
                                    }
                                });
                        });
                    </script>

                    <script type="text/javascript">
                        new SalsaFormValidatorTips('form_mail', 'en');
                    </script>
            </form>
        </div>

        <div class="contact-infos">
            <address itemscope="" itemtype="#">
                <strong itemprop="name" class="contact-name">Villa Tomasa</strong><br><BR>
                <strong itemprop="name" class="contact-name">Grados decimales:</strong><br>
                <strong itemprop="name" class="contact-name">Latitud: 11.050332 | Longitud: -63.82535</strong>
                <span itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address" class="contact-address">

            </span>
                <br>


                <span class="contact-telephone">
            <strong>Telefono</strong>
            <span itemprop="tel"><strong>0295.416.70.63 / 0295 242.56.26 / 0416.605.42.70</strong></span>

          </span>


                <span class="contact-email">
            <strong>Email</strong>
            <strong>Para reservaciones:</strong>
            <a href="posadavillatomasa@gmail.com" itemprop="email">reservasvillatomasa@gmail.com</a>
          </span>
            </address>
        </div>


    </div>
</div>
{% endblock contenido %}
{% block js %}
<script type="text/javascript">
new Fx.SmoothScroll({ duration:1700 }, window);
    //SalsaScrollFixed
    new SalsaScrollFixed({
        element: "header",
        onFixedPosition: function (el) {
            el.addClass("fixed")
        },
        onAutoPosition: function (el) {
            el.removeClass("fixed")
        }
    });
                window.addEvent('domready', function() {
                    //store titles and text
                    $$('.tipz').each(function(element,index) {
                        var content = element.get('title').split('::');
                        element.store('tip:title', content[0]);
                        element.store('tip:text', content[1]);
                    });

                    //create the tooltips
                    var tipz = new Tips('.tipz',{
                        className: 'tipz',
                        fixed: true,
                        hideDelay: 50,
                        showDelay: 50
                    });

                });
            </script>
{% endblock js %}