<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ titulo }} | Panel administrativo</title>

    <!-- Bootstrap Core CSS -->
    <link href="{STATICFILE_DIR}/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{STATICFILE_DIR}/admin/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{STATICFILE_DIR}/admin/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{STATICFILE_DIR}/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="{STATICFILE_DIR}/admin/css/style.css" rel="stylesheet" type="text/css">
    <style>
        .container-fluid{margin: 0; padding: 0}
        body{background: white}
    </style>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="{STATICFILE_DIR}/admin/img/logo_blanco.png" width="74px" style="position: absolute; top: 0;">
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li>
                <a>
                    Bienvenido
                </a>
            </li>
            <li>
               <a>/</a>
            </li>
            <li>
                <a href="">Cambiar contraseña</a>
            </li>
            <li>
                <a>/</a>
            </li>
            <li>
                <a href="{DOMAIN_NAME}/admin/cerrar-sesion"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="{DOMAIN_NAME}/admin/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{DOMAIN_NAME}/admin/clientes"><i class="fa 'fa fa-user fa-fw"></i> Clientes</a>
                </li>
                <li>
                    <a href="{DOMAIN_NAME}/admin/habitacion/listado"><i class="fa fa-fw fa fa-hotel"></i> Habitaciones</a>
                </li>

                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo">
                        <i class="fa fa-fw fa-arrows-v"></i> Reservaciones <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="{DOMAIN_NAME}/admin/reservaciones?tipo=solicitud">
                                Solicitadas
                            </a>
                        </li>
                        <li>
                            <a href="{DOMAIN_NAME}/admin/reservaciones?tipo=procesadas">Procesadas</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        {% if message != "" %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>{{ message }}</strong>
            </div>
        {% endif %}
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa fa-th-list fa-fw"></i>
                        {{ titulo }}
                    </h3>
                </div>
                <div class="panel-body" style="padding: 6px 22px;">
                    <div class="row">
                        {% block contenido %}

                        {% endblock contenido %}
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{STATICFILE_DIR}/admin/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{STATICFILE_DIR}/admin/js/bootstrap.min.js"></script>

{% block js %}

{% endblock js %}
</body>

</html>