{% extends 'base_admin.twig' %}

{% block contenido %}

    <div  class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
            <tr>
                <th>Cédula / Rif</th>
                <th>Nombre o Razon social</th>
                <th>telefono_movil</th>
                <th>telefono_fijo</th>
                <th>correo</th>
                <th>estado</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in object_list %}
            <tr>
                <td>{{ cliente.id_cliente }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.telefono_movil }}</td>
                <td>{{ cliente.telefono_fijo }}</td>
                <td>{{ cliente.correo }}</td>
                {% if cliente.estado == 'A' %}
                    <td>Activo</td>
                {% else %}
                    <td>Inactivo</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>

        </table>
        {% if not object_list %}
            <h2 style="text-align: center">No hay datos</h2>
        {% endif %}
        <div class="pull-left">
            <ul class="pagination">

                {% if previous_page > 0 %}
                    <li class="paginate_button ">
                        <a href="?page={{ previous_page }}" aria-controls="datatable" data-dt-idx="2" tabindex="0">
                            &laquo; Anterior
                        </a>
                    </li>
                {% else %}
                    <li class="paginate_button previous disabled" id="datatable_previous">
                        <a aria-controls="datatable" data-dt-idx="0" tabindex="0">&laquo; Anterior</a>
                    </li>

                {% endif %}
                {% if next_page > 0 %}
                    <li id="datatable_next" class="paginate_button next" >
                        <a href="?page={{ next_page }}">Siguiente &raquo;</a>
                    </li>
                {% else %}
                    <li class="paginate_button next disabled" id="datatable_next">
                        <a aria-controls="datatable" class="paginate_button next disabled" tabindex="0">
                            Siguiente &raquo;
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <div class="pull-right">
            <ul class="pagination">
                <li class="paginate_button next disabled">
                    <a aria-controls="datatable" class="paginate_button disabled">
                        Total de registros: <strong>{{ rows }}</strong>
                    </a>
                </li>
                <li class="paginate_button next disabled">
                    <a aria-controls="datatable" class="paginate_button disabled" tabindex="0">
                        Pagina {{ current_page }} de {{ count_page }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock contenido %}