{% extends 'base_admin.twig' %}

{% block contenido %}
    <div class="section-right">
        <a href="{DOMAIN_NAME}/admin/habitacion" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            Agregar Habitación
        </a>
    </div><br>
    <div  class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr>
                    <th>Nombre Habitación</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                {% for habitacion in object_list %}
                <tr>
                    <td>{{ habitacion.nombre_habitacion }}</td>
                    <td>{{ habitacion.monto }}</td>
                    {% if habitacion.estado == 'A' %}
                        <td>Habilitada</td>
                    {% else %}
                        <td>Inhabilitada</td>
                    {% endif %}
                    <td>
                        <a href="{DOMAIN_NAME}/admin/habitacion/editar/{{ habitacion.id_habitacion }}" class="btn btn-default">
                            <i class='fa fa-refresh'></i>
                        </a>
                        <a href="{DOMAIN_NAME}/admin/habitacion/eliminar/{{ habitacion.id_habitacion }}"class="btn btn-danger">
                            <i class='fa fa-trash-o'></i>
                        </a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pull-left">
            <ul class="pagination">

                {% if previous_page > 0 %}
                    <li class="paginate_button ">
                        <a href="?page={{ previous_page }}" aria-controls="datatable" data-dt-idx="2" tabindex="0">
                            &laquo; Anterior
                        </a>
                    </li>
                {% else %}
                    <li class="paginate_button previous disabled" id="datatable_previous">
                        <a aria-controls="datatable" data-dt-idx="0" tabindex="0">&laquo; Anterior</a>
                    </li>

                {% endif %}
                {% if next_page > 0 %}
                    <li id="datatable_next" class="paginate_button next" >
                        <a href="?page={{ next_page }}">Siguiente &raquo;</a>
                    </li>
                {% else %}
                    <li class="paginate_button next disabled" id="datatable_next">
                        <a aria-controls="datatable" class="paginate_button next disabled" tabindex="0">
                            Siguiente &raquo;
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <div class="pull-right">
            <ul class="pagination">
                <li class="paginate_button next disabled">
                    <a aria-controls="datatable" class="paginate_button disabled">
                        Total de registros: <strong>{{ rows }}</strong>
                    </a>
                </li>
                <li class="paginate_button next disabled">
                    <a aria-controls="datatable" class="paginate_button disabled" tabindex="0">
                        Pagina {{ current_page }} de {{ count_page }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock contenido %}