{% extends 'base_admin.twig' %}

{% block contenido %}

    <form method="post">
        <h2 style="text-align: center">¿Desea eliminar la habitación </h2>
        <h3 style="text-align: center;"><i>{{ nombre_habitacion }}?</i></h3>
        <input type="hidden" name="id_habitacion" value="{{ id_habitacion }}">
        <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
        <div class="center-block" style="width: 300px; margin-top: 40px;">
            <a href="{DOMAIN_NAME}/admin/habitacion/listado" class="btn btn-primary">Cancelar</a>
            <button class="btn btn-danger">Eliminar</button>
        </div>
    </form>

{% endblock contenido %}