{% extends 'base_admin.twig' %}

{% block contenido %}
    <form method="post" id="form_habitacion">
        <div class="row">
            <div class="col-lg-12">
                <label>Nombre de la habitación</label>
                <input type="text" name="nombre_habitacion" required ="required"
                       class="form-control" autofocus = "on" value="{{ habitacion.nombre_habitacion }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Monto</label>
                <input onKeyPress="return soloNumero(event)" type="text" name="monto" class="form-control" value="{{ habitacion.monto }}" required = "required">
            </div>
            <div class="col-lg-4">
                <label>Estado</label>
                <select class="form-control" name="estado" id="estado">
                    <option value="A">Habilitado</option>
                    <option value="I">Inhabilitado</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Descripción</label>
                <textarea class="form-control" name="descripcion_habitacion" required = "required">{{ habitacion.descripcion_habitacion }}</textarea>
            </div>
        </div>
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="csrftoken" value="{{ csrftoken }}">

        <div class="ln_solid"></div>
        <fieldset>
            <legend>Imagenes</legend>
            <div id="barra-progreso"style="display: none">
                <progress></progress>
                <p>0 %</p>
            </div>
            <div class="center-block" id="imagenes_habitacion" style="margin-top: 40px;">
                <p style="text-align: center" id="imagen">
                    <a style="position: relative; padding-left: 40px; cursor: pointer" id="seleccion_imagen">
                        <img src="{STATICFILE_DIR}/admin/img/upload.png" style="position: absolute;left: -9px; top: -34px;"><br>
                        Click para agregar imagenes
                    </a>
                </p>
                <table id="listado_imagenes">
                {% for imagen in imagenes %}
                <tr id ="{{ loop.index }}">
                    <td>
                        <input type="hidden" id="input_{{ loop.index }}" name="galeria_image[]" value="{{ imagen.ruta_archivo }}">
                        <img src="{DOMAIN_NAME}{{ imagen.ruta_archivo |  replace({'.png' : '_sm.png'}) }}" width="140px">
                    </td>
                    <td>
                        {{ imagen.ruta_archivo }}
                    </td>
                    <td>
                        <a onclick="elimiarImagen({{ loop.index }}, '{{ imagen.ruta_archivo }}')" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </table>

            </div>
        </fieldset>
        <div class="ln_solid"></div>

            {% if action == 'add' %}
            <div class="center-block" style="width: 260px">
                <button class="btn btn-warning">Registrar</button>
            {% else %}
                <div class="center-block" style="width: 450px">
                <input type="hidden" name="registro" value="{{ habitacion.id_habitacion }}">
                <a href="{DOMAIN_NAME}/admin/habitacion" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Nueva Habitacion
                </a>
                <button class="btn btn-warning">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Actualizar
                </button>

            {% endif %}
            <a href="{DOMAIN_NAME}/admin/habitacion/listado" class="btn btn-primary">
                <span class="glyphicon glyphicon-list-alt"></span>
                Listar habitaciones
            </a>
        </div>

    </form>
    <form enctype="multipart/form-data" method="post" id="form_imagenes" style="display: none">
        <input type="file" id="hidden_image" name="file">
        <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
    </form>
{% endblock contenido %}

{% block js %}
<script>
    {% if accion == 'edit' %}
        $("#estado option[value={{ habitacion.estado }}]").attr("selected",true);
    {% endif %}
    var indx = {{ cantidad_imagen }};
    function subirImagen(dataurl, nombre_archivo){
        /* sube la imagen al servidor */
        var formData = new FormData($('#form_imagenes')[0]);

        $('#barra-progreso').show();
        $.ajax({
            url: '{DOMAIN_NAME}/admin/habitacion/subir-imagen',
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                xHTML = '<tr id="'+indx+'"><td><img src = "'+dataurl+'" width="140px"></td><td>'+nombre_archivo+'</td><td> ' +
                         '<a onclick = "elimiarImagen(indx, \''+data.image+'\')" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td></tr>';
                $('#listado_imagenes').append(xHTML);

                $('#barra-progreso').hide();
                 element = '<input type = "hidden" id = "input_'+indx+'" name = "galeria_image[]" value = "' + data.image + '"> ';
                 $('#form_habitacion').append(element);
            },
            xhr: function(){
                var xhr = $.ajaxSettings.xhr() ;
                xhr.upload.onprogress = function(e){
                    if (e.lengthComputable) {
                        var percentUploaded = Math.floor(e.loaded * 100 / e.total);
                        $('#barra-progreso progress').val(percentUploaded);
                        $('#barra-progreso p').text(percentUploaded + "%");

                    }
                }

                xhr.upload.onload = function(){
                    $('#barra-progreso p').text('Terminando de procesar su solicitud');
                } ;

                return xhr ;
            }

        });

    }
    function elimiarImagen(obj, img){
        $.ajax({
            url: '{DOMAIN_NAME}/admin/habitacion/eliminar-imagen',
            type: 'post',
            dataType: 'json',
            data: {imagen : img},
            success: function (data) {
                if(data.message == 'si'){
                    $('#input_'+obj).remove();
                    $('#'+obj).remove();
                }

            }
        });
    }
    function soloNumero(e){
        tecla = (document.all) ? e.keyCode : e.which;
        //Tecla de retroceso para borrar, siempre la permite
        if (tecla==8){
            return true;
        }
        // Patron de entrada, en este caso solo acepta numeros
        patron =/[0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
</script>
    <script src="{STATICFILE_DIR}/admin/js/upload_image.js"></script>

{% endblock js %}