<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="{STATICFILE_DIR}/admin/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{STATICFILE_DIR}/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{STATICFILE_DIR}/admin/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{STATICFILE_DIR}/admin/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{STATICFILE_DIR}/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="{STATICFILE_DIR}/admin/css/style.css" rel="stylesheet" type="text/css">


    <title>{{ titulo }}</title>
    <style>
        body{background: #F8F8F8;}
    </style>
</head>
<body>
    <form method="post" >
        <section class="row center-block" style= "width: 450px;">

            <div style="border-radius: 6px; border: #eaeaea solid 1px;">
                <div style="background: #222222; position: relative; padding: 2px 15px; text-align: right; color: white; border-radius: 6px 6px 0 0">
                    <img src="{STATICFILE_DIR}/admin/img/logo_blanco.png" width="80px" style="position: absolute; left: 8px;">
                    <h2>Sistema administrador</h2>
                </div>
                <div style="padding: 6px 10px;background: white; border-radius: 0 0 6px 6px "><br>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>Nombre de usuario:</label>
                            <input type="text" name="usuario" autofocus="on" placeholder="Username" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>Contraseña:</label>
                            <input type="password" name="clave" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="row center-block form-group" style="width: 50%">
                        <button class="col-lg-12  btn btn-warning">Ingresar</button>
                    </div>
                    <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
                </div>
            </div>
        </section>

    </form>
</body>
<!-- jQuery -->
<script src="{STATICFILE_DIR}/admin/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{STATICFILE_DIR}/admin/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="{STATICFILE_DIR}/admin/js/plugins/morris/raphael.min.js"></script>
<script src="{STATICFILE_DIR}/admin/js/plugins/morris/morris.min.js"></script>
<script src="{STATICFILE_DIR}/admin/js/plugins/morris/morris-data.js"></script>
</html>