{% extends 'base_admin.twig' %}

{% block contenido %}
<div  class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Nro. Móvil</th>
            <th>Nro. Fijo</th>
            <th>Correo Electrónico</th>
            <th>Habitación</th>
            <th>Adultos</th>
            <th>Infantes</th>
            <th>Lapso de fechas</th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
            {% for reserva in reservaciones %}
            <tr>
                <td>{{ reserva.nombre }}</td>
                <td>{{ reserva.telefono_movil }}</td>
                <td>{{ reserva.telefono_fijo }}</td>
                <td>{{ reserva.correo }}</td>
                <td>{{ reserva.nombre_habitacion }}</td>
                <td>{{ reserva.cantidad_adulto }}</td>
                <td>{{ reserva.cantidad_infante }}</td>
                <td>{{ reserva.fecha_entrada }} - {{ reserva.fecha_salida }} </td>
                <td>
                    <a class="btn btn-primary" onclick="aceptarReserva({{ reserva.id_reservacion }})">
                        <i class="fa fa-check "></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not reservaciones %}
        <h2 style="text-align: center">No hay datos</h2>
    {% endif %}
</div>
    <!-- modal -->
    <div id="form_reserva" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sistema de reservación Villa Tomasa</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <img src="{STATICFILE_DIR}/admin/img/question.png">
                    </div>

                    <h3 style="text-align: center">¿Desea procesar la solicitud de reserva?</h3>

                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-primary" onclick="Reserva('Si')">Si, Solicitud Aceptada</button>
                    <button type="button" class="btn btn-danger" onclick="Reserva('No')">No, Solicitud Rechazada</button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    <script>
        var reservacion = 0;
        function aceptarReserva(pk){
            reservacion = pk;
            $('#form_reserva').modal('show');
        }
        function Reserva(procesada){
            $.ajax({
                url: '{DOMAIN_NAME}/admin/reservaciones',
                type: 'post',
                dataType: 'json',
                data: {aceptada: procesada, pk : reservacion},
                success: function (data) {
                    if (data.message == 'bien')
                        location.reload();
                    else{
                        alert('error inesperado');
                        location.reload();
                    }

                }

            });

        }
    </script>
{% endblock js %}