.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ln_solid{margin-top: 20px; border-top: 1px solid #ccc; padding-top: 20px;}
.side-nav {background: #2f5bb7}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {background: #1441b3}
.navbar-inverse .navbar-nav > li > a {color:white}

#imagenes_habitacion img{max-width: 100%}
#imagenes_habitacion>div{margin-bottom: 40px;}
#barra-progreso{text-align: center}
#listado_imagenes>tbody>tr>td{padding:20px;
    border-bottom: 1px solid #ccc;}

.modal-header{background: #1441B3 !important; color: white;}